.muve_img {
    border: solid 3px red;
}
/* .block1 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50px;
    top: 50px;
    border-radius: 50%;
    background: blue;
  } */
/* #drag1 {
    width: 100px;
  height: 100px;
  
    position: absolute;
    left: 50px;
    top: 50px;
} */